<div class="row-fluid">

  <div class="span3"> Detalles  <%= render 'nota' %> </div>

  <div class="span3"> Pases
    <%= render 'backend/pases/pase', :collection => @nota.pases %>
  </div>

  <div class="span3"> Archivos</div>

</div>