<div class="row-fluid">
  <div class="span3"> Detalle
    <%= render 'nota' %>
    </div>
</div>

<div class="row-fluid">

  <div class="span6"> Historico de Pases
    <%= render @nota.pases %>
  </div>

  <div class="span3"> Archivos
    <% #TODO: agregar Archivos" %>
  </div>

</div>
