<div class="row-fluid">
  <div class="span9">
    <%= content_for :page_title do%>
      Edit <%=t '.title', :default => controller_name.titleize %>
    <% end %>
    <%= render 'edit_form' %>
  </div>
</div>
