<p>Hola ¡<%= @resource.email %>!</p>

<p>Alguien ha hecho un pedido de cambio de clave, puede hacerlo haciendo click en el siguiente link.</p>

<p>
<a href = "<%= "http://186.153.176.242:8092/admin/password/edit?reset_password_token=#{@resource.reset_password_token}" %>"> Has click aquí </a>
</p>

<p>Si estás dentro de la intranet de la camara usa este otro link en lugar del primero
<br>
<a href = "<%= ":3000/admin/password/edit?reset_password_token=#{@resource.reset_password_token}" %>"> Has click aquí </a>
</p>

<p>Este link tiene un tiempo de caducidad. Para pedir otro mail
<a href = "http://186.153.176.242:8092/admin/password/new"> has click aquí </a>
</p>
Aquí y vuelva a escribir su e-mail. Recibirá un nuevo e-mail con un link actualizado.</p>

<p>Si no has hecho ningún pedido por favor ignora este correo.</p>
<p>Tu clave no cambiará hasta que entres en el link de arriba y escribas una nueva.</p>

<p>Este es un email automático, por favor no lo respondas.</p>
