$base-color: #84ac49;

$header-color: lighten($base-color,15%);
$header-background-color: #6A7176;
$menu-button-color: #6A7176;
$menu-button-background-color: #ffffff;

$title-background: $header-color;
$title-color: #ffffff;
$ref-color: #ffffff;

$selected-row-color: lighten($base-color, 20%);

