// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

@import 'redmond/jquery-ui-1.8.9.custom';


//@import 'forum';
//@import 'datepicker_correction';
//@import 'pases';
@import 'mystyle';
//@import 'navigations_keys';


// To customize the Active Admin interfaces, add your
// styles here:
