/* User sign in and sign forms. */
.border-form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.navbar form { margin: 0; }
form.form-inline div.control-group { display: inline-block; }
form.form-inline div.control-group div.controls { display: inline-block; }

#home_sign_up #email { font-size: 30px; height: 60px; width: 60%; min-width: 160px; }
#home_sign_up .btn { width: 10%; min-width: 160px;}
.home .hero-unit {margin-top: 50px; padding-top: 150px; padding-bottom: 200px;}
.home .hero-unit img { margin-top: -50px;}
body.sessions{
  background-color: #F2F1F0;
}
