<div class="well">
  <p>
    El
    <b><%= pase.ingreso %></b>
    en
    <%= link_to pase.area.name, backend_area_path(pase.area) %>
  </p>
  <p>
    <%= pase.descripcion %>
  <p>
    <%= link_to 'Editar pase', edit_backend_nota_pase_path(pase.expediente, pase),
            class: "btn btn-mini btn-danger"   %>
  </p>
</div>
